<div *ngIf="hasItems">
    <div style="text-align:center">
        Shopping Cart
    </div>
    <div>
        <app-cart-item [orders]="orders" (changedOrders)="changedOrdersHandler($event)"></app-cart-item>
    </div>
    <div>
        <app-delivery (deliveryValid)="deliveryValidHandler($event)"></app-delivery>
    </div>
    <div style="text-align:center">
        <button type="button" class="btn btn-primary" [disabled]="isBtnDisabled" (click)="orderNow()">Order Now</button>
    </div>
    
</div>
