<form #deliveryForm="ngForm">
    <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="First Name" id="firstName" required [(ngModel)]="delivery.firstName" name="firstName" #firstName="ngModel">
          <mat-error *ngIf="firstName.invalid && showErrors">First Name is required</mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Last Name" id="lastName" required [(ngModel)]="delivery.lastName" name="lastName" #lastName="ngModel">
          <mat-error *ngIf="lastName.invalid && showErrors">Last Name is required</mat-error>
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email Address" id="emailAddress" required email [(ngModel)]="delivery.emailAddress" name="emailAddress" #emailAddress="ngModel">
          <mat-error *ngIf="emailAddress.errors?.required && showErrors">Email Address is required</mat-error>
          <mat-error *ngIf="emailAddress.errors?.email && showErrors">Not a valid email</mat-error>
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width" hintLabel="(000) 0000 000">
          <input matInput type="text" placeholder="Contact Number" id="contactNumber" required phoneFormat="^\([0-9]{3}\) [0-9]{4} [0-9]{3}$" [(ngModel)]="delivery.contactNumber" name="contactNumber" #contactNumber="ngModel">
          <mat-error *ngIf="contactNumber.errors?.required && showErrors">Contact Number is required</mat-error>
          <mat-error *ngIf="contactNumber.errors?.phoneFormat && showErrors">Not in valid format</mat-error>
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Street" id="street" required pattern="^[0-9]+ [A-Za-z ]+$" [(ngModel)]="delivery.street" name="street" #street="ngModel">
          <mat-error *ngIf="street.errors?.required && showErrors">Street is required</mat-error>
          <mat-error *ngIf="street.errors?.pattern && showErrors">Not in valid format</mat-error>
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="City" id="city" required [(ngModel)]="delivery.city" name="city" #city="ngModel">
          <mat-error *ngIf="city.invalid && showErrors">City is required</mat-error>
        </mat-form-field>
    </div>
    
    <div class="row">
        <mat-form-field class="full-width" hintLabel="XX00 0XX">
          <input matInput type="text" placeholder="Zip" id="zip" required zipValue zipFormat="^[A-Z][A-Z][0-9][0-9] [0-9][A-Z][A-Z]$" [(ngModel)]="delivery.zip" name="zip" #zip="ngModel">
          <mat-error *ngIf="zip.errors?.required && showErrors">Zip is required</mat-error>
          <mat-error *ngIf="zip.errors?.zipValue && showErrors">Not a valid value</mat-error>
          <mat-error *ngIf="zip.errors?.zipFormat && showErrors">Not in valid format</mat-error>
        </mat-form-field>
    </div>

    <button type="submit" hidden>Submit</button>

  </form>
